link(rel='stylesheet', href="/dist/select_simulate.css", type="text/css")
div.imitate_select.name-select
  div.show_select
    span.show_item 目录
    span.caret-wrap
  ul.select_all.hide_select
    li.select_item 目录
    li.select_item 文件后缀文件后缀
    li.select_item 精确匹配
div.imitate_select.age-select
  div.show_select
    span.show_item 20-30
    span.caret-wrap
  ul.select_all.hide_select
    li.select_item 20-30
    li.select_item 30-40
    li.select_item 40-50
script(src="/bower_components/jquery/dist/jquery.min.js")
script(src="/dist/select_simulate.js")    
